.no-bus {
  background-image: url(https://www.redbus.in/images/no_bus.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin: 0 25%;
}
.error-bus {
  margin: 0 24%;
}
.emp-bus {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  letter-spacing: 2px;
  text-align: center;
}

.alert-noBus {
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(104, 107, 104);
  text-align: center;
}
