.ant-select-selection {
    border-radius: 0px;
    border: none;
    border-bottom: solid 1px;
    border-color: rgba(150, 150, 150, 1);
    height: 45px;
}

.ant-input {
    border-radius: 0px;
    width: 198px;
    border: none;
    border-bottom: solid 1px;
    border-color: rgba(150, 150, 150, 1);
    position: relative;
    top: 2.9px;
    height: 45px;
}

.trip-search-btn {
    border-radius: 0px;
    width: 198px;
    height: 45px;
    position: relative;
    top: 2.7px;
}

.ant-select-selection {
    padding: 4px 11px 4px 11px;
}

.ant-select-selection__placeholder {
    margin-top: -8px;
}

form {
    padding: 0.2718vw;
}

.ant-select-selection__placeholder {
    color: rgba(150, 150, 150, 1);
}

.ant-input:placeholder-shown {
    color: rgba(150, 150, 150, 1);
}

.ant-select-open .ant-select-selection {
    border: none !important;
    border-bottom: solid 1px rgba(150, 150, 150, 1) !important;
}