.filters-container {
    height: 43.9vw;
    width: 15vw;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    overflow: auto;
}

.filter-box {
    padding: 5px;
    margin: 5px;
}

.filter-header {
    font-weight: 900;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}