.payment-logo {
  background-image: url('../../assets/images/payment-logo.png');
  width: 71.25px;
  height: 37.5px;
  display: inline-block;
  background-size: 71.25px 37.5px;
}
.travel-route {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
.payment-head {
  background-color: #d84e55;
  padding: 10px 0 3px;
  margin-top: 2em;
}
.travel-day {
  display: inline-block;
  margin-right: 2em;
}
.pay-layout {
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
}
.box-1 {
  display: flex;
  width: 62%;
  justify-content: space-between;
}
.pay-arrow {
  margin: 0 6px;
}
.pay-timer {
  color: #fff;
  font-size: 18px;
  display: flex;
}
.contdown {
  margin-left: 7px;
  align-self: center;
}
.clock {
  align-self: center;
}
.back-color {
  background-color: #ddd;
  padding-bottom: 3em;
}

.bk-detail {
  background-color: #fff;
  width: 35%;
}
.pay-section {
  margin: 5em 4em;
  display: flex;
  justify-content: space-between;
}
