.stop-point {
  background-color: #f8f9fa;
  width: 100%;
  margin-top: -1em;
  padding: 20px 30px;
}
.sp-cont {
  font-size: 12px;
  padding: 0 20px;
  margin: 0 6.3em 20px 6.3em;
}
.sp-detail:nth-child(1) {
  line-height: 14px;
  min-height: 5px;
  margin-top: 16px;
}
.m-top {
  margin-top: 16px;
  color: #fdb33f;
  font-weight: 700;
  font-size: 1.2em;
}
.txt {
  color: #869ab9;
  font-size: 1.3em;
  font-weight: 700;
}
.sp-subdetail {
  margin-top: 16px;
  border: 1px solid #174ba0;
  width: 25%;
  padding: 2em 3em 2em 3em;
  background-color: #e5ebf8;
}
.sp-tym {
  color: #323e5c;
  font-size: 1.3em;
  font-weight: 500;
}
.sp-m {
  margin-top: 10px;
}
.road {
  color: #3e3e52;
  margin-top: 1em;
  line-height: 18px;
  letter-spacing: 1px;
  word-break: break-word;
}
