.payment-layout {
  display: flex;
}
.pay-box {
  width: 80%;
  padding: 9px 15px;
  border: none;
  border-radius: 23px;
  margin: 0 0 22px 35px;
  border-bottom: 1px solid gray;
}
.rccs__card {
  height: 250.873px;
  width: 420px;
}
.rccs {
  width: 420px;
}
.expiry {
  display: flex;
  width: 85.8%;
}
*:focus {
  outline: none;
}
.pay-btn {
  width: 80%;
  padding: 9px 15px;
  border: none;
  height: 45px;
  font-size: 1.5em;
  letter-spacing: 2px;
  border-radius: 23px;
  margin: 0 0 14px 35px;
  border-bottom: 1px solid gray;
}
