.payment-options {
  width: 58%;
  /* margin: 5em 4em; */
  background-color: #fff;
}
.op {
  font-size: 20px;
  padding: 1em;
  font-weight: 600;
}
.pay-icon {
  font-size: 3em;
}
.ic {
  color: #a4a3ac;
  display: flex;
  margin-top: 15px;
}
.pp-txt {
  display: flex;
}
.bb {
  border-left: 2px solid rgb(175, 173, 173);
  margin-left: 35px;
}
