.payment-layout {
  display: flex;
}
.pay-box {
  width: 100%;
  padding: 9px 15px;
  border: none;
  border-radius: 23px;
  margin: 0px 0 22px 0px;
  border-bottom: 1px solid gray;
}
.rccs__card {
  margin-right: 0;
}
.rccs {
  width: 420px;
}
.expiry {
  display: flex;
}
*:focus {
  outline: none;
}
.crd-form{
  margin-right: 6em;
  width: 80%;
  margin-left: 2em;
}
.exp1{
  margin-left:1em ;
}
.exp2{
  margin-right:1em ;
}