.search-content {
    display: flex;
}

.search-results {
    height: 43.9vw;
    width: 85vw;
    padding: 0px;
    background: none;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    overflow: auto;
}

.search-results::-webkit-scrollbar {
    background: none;
    height: 10px;
}

.search-results::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.7);
}